<nav class="bg-white border-b border-neutral-200" data-controller="navbar">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between h-16">
      <div class="flex items-center">
        <div class="flex-shrink-0">
          <a href="/" class="text-indigo-600 font-bold text-2xl flex items-center gap-2">
            <i data-lucide="brain" class="w-6 h-6"></i>
            <span>AvoCasts</span>
          </a>
        </div>
      </div>
      
      <div class="flex items-center">
        <% if user_signed_in?  %>
          <%= link_to "Dashboard", dashboard_path, class: "text-black hover:text-slate-800 block px-3 py-2 rounded-md text-base font-medium" %>
          <%= button_to session_path, method: :delete, class: "text-black hover:text-slate-800 block px-3 py-2 rounded-md text-base font-medium" do %>
            Sign out
          <% end %>
        <% else %>
          <%= link_to new_session_path, class: "text-black hover:text-slate-800 block px-3 py-2 rounded-md text-base font-medium" do %>
            Sign In
          <% end %>
          <%= link_to new_registration_path, class: "text-black hover:text-slate-800 block px-3 py-2 rounded-md text-base font-medium" do %>
            Sign Up
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</nav>
